@import 'utils.scss';
@import 'principal.scss';

@media(min-width: 1000px) {

  .left {
    text-align: left;
    padding-left: 0;
  }
    
  header {
    padding: 0 3rem;
    
    .featured {
      flex-direction: row;
      padding: 0;
      
      .featured__info {
        max-width: 536px;
        align-items: start;

        h1 {
          @extend .left;
          font-size: 40px;
          line-height: 60px;
        }
        
        p {
          @extend .left;
          font-size: 18px;
          line-height: 27px;
        }
      }

      img {
        width: 50%;
      }
    }
  }
  

}