@import "utils.scss";
@import "principal.scss";

@media (min-width: 1000px) {
  .left {
    text-align: left;
    padding-left: 0;
  }

  header {
    padding: 0 3rem;

    .featured {
      flex-direction: row;
      padding: 0;

      .featured__info {
        max-width: 536px;
        align-items: start;

        h1 {
          @extend .left;
          font-size: 40px;
          line-height: 60px;
        }

        p {
          @extend .left;
          font-size: 18px;
          line-height: 27px;
        }
      }

      img {
        width: 50%;
      }
    }
  }

  .merchan {
    padding: 0 20px;
    .card {
      flex-direction: row-reverse;
      margin-bottom: 4%;
      justify-content: space-between;
      .card__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 3rem;

        h2 {
          @extend .left;
          font-size: 28px;
          line-height: 42px;
        }

        p {
          @extend .left;
          font-size: 18px;
          line-height: 27px;
        }
      }
      img {
        width: 35%;
      }
    }

    .card__flowing {
      flex-direction: row;
      .card__info {
        padding-right: 0;
        padding-left: 3rem;
      }
    }
  }

  .get-started {
    width: 800px;
    h2 {
      font-size: 32px;
      line-height: 60px;
    }
    .button {
      width: 400px;
      height: 80px;
      font-size: 20px;
      line-height: 30px;
      border-radius: 50px;
    }
  }

  footer {
    padding-left: 10vh;
    padding: 20vh 6vh;
  }
}

@media (min-width: 1500px) {
  footer {
    padding-left: 10vh;
    padding: 20vh;
  }
}
