* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.font-poppins, h1, h2, h3, h4, h5, h6, footer .copyright p {
  font-family: "Poppins", sans-serif;
}

.font-open, input, button, .button, header .header__button, body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: white;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

input, button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.border-radius, .button, header .header__button, .merchan .card, .merchan .card__grow, .merchan .card__flowing, .merchan .card__users, .get-started {
  border: 1px solid white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
}

.button, header .header__button {
  background-color: #ff52bf;
  width: 240px;
  height: 40px;
  font-size: 16px;
  line-height: 16.34px;
  color: #ebfbff;
  text-align: center;
  font-weight: bold;
}

body {
  margin: 0 auto;
  max-width: 1240px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 1rem;
}

header .header__logo {
  width: 93px;
}

header .header__button {
  background-color: white;
  font-size: 13px;
  width: 96px;
  height: 24px;
  color: #00252e;
}

main {
  width: 95%;
  padding: 0 1rem;
  margin: 8vh 1vh 0 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .title {
  padding: 1rem;
  text-align: center;
}

section .text {
  text-align: center;
}

section img {
  width: 100%;
}

section .button, section header .header__button, header section .header__button {
  margin: 10% 0;
}

.merchan {
  margin-top: 10%;
}

.merchan .card, .merchan .card__grow, .merchan .card__flowing, .merchan .card__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10%;
  padding: 10%;
}

.merchan .card h2, .merchan .card__grow h2, .merchan .card__flowing h2, .merchan .card__users h2 {
  margin: 40px 0 15px 0;
}

.merchan .card p, .merchan .card__grow p, .merchan .card__flowing p, .merchan .card__users p {
  line-height: 21px;
  font-weight: 400;
  color: #808d99;
  text-align: center;
}

.get-started {
  top: 17vh;
  position: relative;
  background-color: white;
  min-width: 344px;
  padding: 35px 0 10px 0;
}

.get-started h2 {
  font-size: 18px;
  line-height: 30px;
}

.get-started .button, .get-started header .header__button, header .get-started .header__button {
  width: 200px;
  margin: 26px;
  font-size: 10px;
}

footer {
  padding: 25vh 2vh 1vh 2vh;
  background-color: #00252e;
}

footer .footer__logo {
  width: 175px;
  -webkit-filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(203deg) brightness(103%) contrast(104%);
          filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(203deg) brightness(103%) contrast(104%);
}

footer p {
  color: white;
}

footer address .address__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
}

footer address .address__item div {
  width: 130px;
  max-width: 43px;
}

footer address .address__item p {
  font-style: normal;
  text-align: left;
  line-height: 24px;
}

footer nav li {
  margin-bottom: 16px;
}

footer nav li a {
  font-size: 18px;
  line-height: 27px;
}

footer .copyright {
  margin-top: 8vh;
  text-align: center;
}

footer .copyright p {
  font-size: 11.3px;
}
/*# sourceMappingURL=main.css.map */