// start variables
  
  $pink: hsl(322, 100%, 66%);
  $very-pale-cyan: hsl(193, 100%, 96%);
  $very-dark-cyan: hsl(192, 100%, 9%);
  $grayish-blue: hsl(208, 11%, 55%);

// end variables

//start resets css

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.button {
  border: 1px solid black;
  border-radius: 20px;
  width: 93px;
  height: 25px;
}

//end resets css

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 95%;
  max-width: 1240px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__logo {
    width: 93px;
  }

  .header__button {
    @extend .button;
    background-color: white;
  }
}

main {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        padding: 1rem;
        text-align: center;
    }
      
    .text {
        text-align: center;
    }

    img {
        width: 100%;
    }
  }